.code-button-xquery {
    background: url('../img/xquery.jpg') no-repeat !important;
    width: 54px !important;
    height: 44px !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}