<?xml version="1.0" encoding="UTF-8"?>
<div class="box">
    <div class="app:login">
        <form class="login content" action="" method="POST">
            <input type="text" name="user" placeholder="User" required="required"/>
            <input type="password" name="password" placeholder="Password"/>
            <button type="submit">Login</button>
        </form>
        <div class="actions">
            <h2>Actions</h2>
            <ul class="menu">
                <li>
                    <a href="?action=addentry">New Article</a>
                </li>
            </ul>
            <p>Logged in as <span class="app:user">user</span>.
            <a href="?logout=logout">Logout</a>.</p>
        </div>
    </div>
</div>