<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>Atomic Wiki</title>
        <link rel="shortcut icon" href="theme/resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="theme/resources/css/exist.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script src="resources/scripts/atomic/common.js" type="text/javascript" charset="utf-8"/>
    </head>
    <body id="body" class="grey-top">
        <div class="grey-bot">
            <div class="container-fluid" id="container">
                <div class="row-fluid">
                    <div class="span12" id="header">
                        <a href="/" id="logo">eXistDB</a>
                    </div>
                </div>
                <div class="app:feed">
                    <div class="row-fluid">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">
                                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                        <span class="icon-bar"/>
                                        <span class="icon-bar"/>
                                        <span class="icon-bar"/>
                                    </a>
                                    <div class="nav-collapse collapse">
                                        <ul class="nav menu">
                                            <li class="menu:site-menu"/>
                                        </ul>
                                        <div class="container pull-right">
                                            <div class="app:login">
                                                <a class="btn btn-inverse" href="#loginDialog" data-toggle="modal">Login</a>
                                                <ul class="actions">
                                                    <li class="dropdown">
                                                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                                            Admin <span class="caret"/>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href=".?action=addentry&amp;editor=html">
                                                                    <i class="icon-plus"/> New HTML Article</a>
                                                            </li>
                                                            <li>
                                                                <a href=".?action=addgallery">
                                                                    <i class="icon-plus"/> New Gallery</a>
                                                            </li>
                                                            <li>
                                                                <a href="?action=editfeed" class="app:posted-link">
                                                                    <i class="icon-edit"/> Edit Section</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" id="open-sitemap">
                                                                    <i class="icon-home"/> Sitemap</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="?logout=logout" class="btn" data-template="app:posted-link">
                                                            Logout <span class="app:user">user</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="atom-link" data-template="app:atom-link" href="#">
                                                            <img src="theme/resources/images/feed-icon.png"/>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="main">
                    <div class="row" id="container-body">
                        <div class="span12" id="content"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="copyright">
                <p> Copyright eXistSolutions 2013</p>
            </div>
        </div>
        <div class="modal" id="loginDialog" style="display: none;">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">
                    <i class="icon-remove"/>
                </a>
                <h3>Login</h3>
            </div>
            <form class="login content" action="" method="POST">
                <input type="hidden" name="duration" value="P14D"/>
                <div class="modal-body">
                    <div class="control-group">
                        <label for="user" class="control-label">User</label>
                        <div class="controls">
                            <input type="text" name="user" placeholder="User" required="required"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="password" class="control-label">Password</label>
                        <div class="controls">
                            <input type="password" name="password" placeholder="Password"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-small" type="submit">
                        <i class="icon-user"/> Login
                    </button>
                </div>
            </form>
        </div>
        <div class="modal hide fade" id="confirmDialog">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">
                    <i class="icon-remove"/>
                </a>
                <h3>Confirm</h3>
            </div>
            <div class="modal-body"/>
            <div class="modal-footer">
                <a class="btn-primary btn ok-button">
                    <i class="icon-ok"/> OK
                </a>
                <a class="btn btn cancel-button">
                    <i class="icon-remove"/> Cancel
                </a>
            </div>
        </div>
    </body>
</html>