<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title data-template="theme:title">Atomic Wiki</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="theme/resources/css/wiki.css"/>
        <link rel="stylesheet" type="text/css" data-template="theme:css"/>
        <link rel="stylesheet" type="text/css" href="theme/resources/css/gallery.css"/>
        <link href="resources/scripts/jquery/ui.dynatree.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script src="resources/scripts/atomic/common.js" type="text/javascript" charset="utf-8"/>
    </head>
    <body id="grey-top">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="/" id="logo">eXistDB</a>
                    </div>
                </div>
                <div class="app:feed">
                    <div class="row">
                        <div class="app:login">
                            <span/>
                            <button type="button" class="sitemap-toggle btn navbar-btn" title="Toggle sitemap">
                                <span class="fa fa-sitemap"/>
                            </button>
                        </div>
                        <nav class="navbar navbar-inverse" role="navigation">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"/>
                                <span class="icon-bar"/>
                                <span class="icon-bar"/>
                            </button>
                            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                                <ul class="menu nav navbar-nav" data-template="site:expand-links">
                                    <li class="menu:site-menu"/>
                                </ul>
                                <form class="navbar-form navbar-right form-group" role="search" action="search.html" method="GET">
                                    <input type="text" name="q" class="form-control" placeholder="Search"/>
                                </form>
                                <div class="app:login">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="#loginDialog" data-toggle="modal">
                                                <span class="fa fa-sign-in"/> Login</a>
                                        </li>
                                        <li>
                                            <a class="atom-link navbar-right" data-template="app:atom-link" href="#">
                                                <span class="fa fa-rss-square fa-lg"/>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right feed-toolbar">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="fa fa-wrench"/> Admin <span class="caret"/>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li data-template="app:can-edit-feed">
                                                    <a href=".?action=addentry&amp;editor=html">
                                                        <i class="fa fa-file-code-o"/> New HTML Article</a>
                                                </li>
                                                <li data-template="app:can-edit-feed">
                                                    <a href=".?action=addentry&amp;editor=wiki">
                                                        <i class="fa fa-file-text-o"/> New Markdown Article</a>
                                                </li>
                                                <li data-template="app:can-edit-feed">
                                                    <a href="?action=editfeed" class="app:posted-link">
                                                        <i class="fa fa-folder-open-o"/> Edit Section</a>
                                                </li>
                                                <li data-template="acl:if-admin-user" data-template-allow-manager="true">
                                                    <a href="manage-users.html">
                                                        <i class="fa fa-users"/> Manage Users
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" id="edit-menu" data-template="acl:if-admin-user">
                                                        <i class="fa fa-reorder"/> Edit Menu</a>
                                                </li>
                                                <li class="gallery:build-gallery-add-menu">
                                                    <a href=".?action=addgallery">
                                                        <i class="fa fa-file-image-o"/> New Slideshow</a>
                                                </li>
                                                <li class="gallery:build-gallery-edit-menu dropdown-submenu">
                                                    <a tabindex="-1" href="#">
                                                        <i class="fa fa-picture-o"/> Edit Slideshows </a>
                                                    <ul class="dropdown-menu pull-left">
                                                        <li>
                                                            <a href="?action=editgallery&amp;collection=/db/apps/wiki/data&amp;gallery=Slideshow1">
                                                                <i class="icon-plus"/> Slideshow 1</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="fa fa-user"/> User <span id="user" class="app:user">user</span>
                                                <span class="caret"/>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href=".?logout=logout" data-template="app:posted-link">
                                                        <i class="fa fa-sign-out"/> Logout
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="change-user.html">
                                                        <i class="fa fa-key"/> Change Password
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="atom-link navbar-right" data-template="app:atom-link" href="#">
                                                <span class="fa fa-rss-square fa-lg"/>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row row-offcanvas row-offcanvas-left" id="container-body">
                    <div class="col-md-6 sidebar-offcanvas well" id="sitemap">
                        <h1>Sitemap</h1>
                        <p>Double click on section or article to navigate to it. Use toolbar to
                        create or edit a section.</p>
                        <div class="btn-group">
                            <button class="btn btn-default btn-create-feed" name="create-feed" title="Create new feed below selected one">
                                <i class="fa fa-folder"/>
                            </button>
                            <button class="btn btn-default btn-edit-feed" name="edit-feed" title="Edit selected feed">
                                <i class="fa fa-wrench"/>
                            </button>
                            <button class="btn btn-default btn-edit-entry" name="edit-entry" title="Edit selected entry">
                                <i class="fa fa-edit"/>
                            </button>
                            <button class="btn btn-default btn-new-html" name="create-html" title="Create new HTML article">
                                <i class="fa fa-file-code-o"/>
                            </button>
                            <button class="btn btn-default btn-new-markdown" name="create-markdown" title="Create new markdown article">
                                <i class="fa fa-file-text-o"/>
                            </button>
                            <button class="btn btn-default btn-delete-entry" title="Delete selected article">
                                <i class="fa fa-trash-o"/>
                            </button>
                        </div>
                        <div class="sitemap"/>
                    </div>
                    <div class="col-md-12" id="content"/>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="copyright">
                <p> Copyright eXistSolutions 2013</p>
            </div>
        </div>
        <div class="modal" id="loginDialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <form class="form form-horizontal login" action="" method="POST">
                        <input type="hidden" name="duration" value="P14D"/>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" name="user" placeholder="User ID" required="required" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="password" name="password" placeholder="Password" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="domain" class="col-md-4 control-label">Domain:</label>
                                <div class="col-md-8">
                                    <select name="domain" class="form-control" data-template="acl:domains">
                                        <option value="">Local</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary col-md-12" type="button">
                                <i class="icon-user"/> Login
                            </button>
                        </div>
                        <div class="error-msg" style="color:red;margin:10px 10px;display:none">wrong username or password</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" id="confirmDialog" style="display: none">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Confirm</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-4 icon">
                            <i class="fa fa-question-circle fa-4x"/>
                        </div>
                        <div class="message" style="min-height: 60px"/>
                    </div>
                    <div class="modal-footer">
                        <a class="btn-primary btn ok-button">
                            <i class="icon-ok"/> OK
                        </a>
                        <a class="btn btn-default cancel-button">
                            <i class="icon-remove"/> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="editFeedDialog" style="display: none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create/Edit Feed</h4>
                    </div>
                    <div class="modal-body"/>
                    <div class="modal-footer">
                        <a class="btn-primary btn ok-button">
                            <i class="icon-ok"/> OK
                        </a>
                        <a class="btn btn-default cancel-button" data-dismiss="modal">
                            <i class="icon-remove"/> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>