

#gallery-items {
    list-style: none;
}

#gallery-items .gallery-item-row {
    padding: 5px;
    margin-left: -25px;
    margin-right: -5px;
    margin-top: 2px;
    background-color: #f5f5f5;
    border: 1px solid #D9D9D9;
}

#gallery-items .gallery-item-image {
    vertical-align: middle;
    text-align: center;
}
#gallery-items .gallery-item-image img {
    height: 100%;
    width: 100%;
}

#edit-gallery-item-dialog {
    width: 1050px;
    left: 35%;
}

.description-editor-pane {
    height: 250px;
    width: 800px;
}
#gallery {
    position: fixed;
    right: 3px;    
    top: 180px;
    z-index: 1;
    
}
#gallery.galleryOpen {
    width: 630px; 
}

.gallery-container {
    display: none;
}


.galleryOpen .gallery-container {    
    border: thin solid #000000;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 10px 10px 5px gray;
    display: block;
    font-size: 0.9em;
    height: 356px;
    position: absolute;
    right: 0;
    width: 630px;
    z-index:5;
}
#toggleGallerySwitch {
       top:100px;
        position: relative;
}
.galleryOpen #toggleGallerySwitch {
   float: left;
    left: -35px;
}

.gallery-container .imageSelector{
    background:whitesmoke;
}
.gallery-container .header,
.gallery-container .footer {
    background: url("../images/bubble.gif") #F3F3F3;    
}

.gallery-container .header {    
    padding-bottom: 1px;
    padding-left: 4px;
    padding-top: 4px;
    border-bottom:thin solid #DDD;
}

.gallery-container .footer {
    clear: both;
    height: 30px;
    margin: 0 auto;
    padding: 1em;
    position: absolute;
    width: 96%;
    bottom:0;
    text-align:center;
    border-top:thin solid #DDD;
}
.footer  .section{
    float:left;
    width:33%;
}
.footer  p {
    margin:0;
    padding:0;
}

.gallery-container .gallery {
    display:block;
    margin:0;
    padding:0;
}

#gallery-selection .ui-selecting { background: #FECA40; }
#gallery-selection .ui-selected { background: #F39814; color: white; }
#gallery-selection { list-style-type: none; margin: 0; padding: 0;  }
#gallery-selection li { margin: 3px; padding: 0.4em; font-size: 1.4em; float:left;}


.thumbs img {
    border:thin solid #DDD
}

.footer .section a ,
.footer .section p {
    background-color: #FFFFFF;
    border: 1px solid #999;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;    
    text-decoration:none;
}
.footer .section a:hover {
   background-color: #DDD;
   color:#333;
}

#imageSelector #thumbs {
    padding-left: 9px;
    float: left;
    background:whitesmoke;
}

#imageSelector #thumbs .ui-widget-content {
    border:0;   
}
