/* Application styles could go here */

.galleria { width: 100%; height: 650px; background: #fff; border: solid 2px; }


/*.galleria ::-webkit-scrollbar*/
/*{
  width: 12px;
  height: 12px;
}*/

/*.galleria ::-webkit-scrollbar-track*/
/*{*/
/*  background: rgba(0, 0, 0, 0.6);*/
/*}*/

/*.galleria ::-webkit-scrollbar-thumb*/
/*{*/
/*  background: rgba(0, 0, 0, 0.9);*/
/*}*/


.fullscreen:-webkit-full-screen  { width: 100% }  
.fullscreen:-moz-full-screen     { width: 100% }  
.fullscreent:-ms-full-screen      { width: 100% }  
.fullscreen:-o-full-screen       { width: 100% }  
.fullscreen:fullscreen          { width: 100% } 

#gallery-items {
    list-style: none;
}

#gallery-items .gallery-item-row {
    padding: 5px;
    margin-left: -25px;
    margin-right: -5px;
    margin-top: 2px;
    background-color: #f5f5f5;
    border: 1px solid #D9D9D9;
}

#gallery-items .gallery-item-image {
    vertical-align: middle;
    text-align: center;
}
#gallery-items .gallery-item-image img {
    /*height: 100%;*/
    width: 100%;
}

#edit-gallery-item-dialog {
    width: 1050px;
    left: 35%;
}

.description-editor-pane {
    height: 250px;
    width: 800px;
}
#gallery {
    position: fixed;
    right: 3px;    
    top: 180px;
    z-index: 1;
    
}

#toggleGallerySwitch {
    background: url("../images/arrow-left.png") no-repeat scroll center 0 transparent;     
    padding-top:8px;
    float: left;    
}
.galleryOpen #toggleGallerySwitch {
    background: url("../images/arrow-right.png") no-repeat scroll center 0 transparent;
    padding-top:8px;
    float: left;
}

.gallery-container {
    display: none;
}


.galleryOpen .gallery-container {    
    background-color:#F3F3F3 !important;    
    border: thin solid #000000;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 10px 10px 5px gray;
    display: block;
    font-size: 0.9em;    
    right: 0;
    width: 630px;
    z-index:5;
    float:left;
}

.galleryOpen #toggleGallerySwitch {
    float: left;    
}

.gallery-container .imageSelector{
    background:whitesmoke;
}
.gallery-container .header,
.gallery-container .footer {
    background: url("../images/bubble.gif") #F3F3F3;    
}

.gallery-container .header {    
    width:100%;
    padding:5px;
    display:inline-block;
    border-bottom:thin solid #DDD;
    text-align:center;
}
#filterCollection{
    width:33%;
}
#query:valid{
    background-image:none !important;
}
.gallery-container .footer {
   border-top: thin solid #DDDDDD;    
    float: left;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: center;
    width: 100%;
}

.footer  .section {
    float:left;
    width:33%;
    min-height:1px;
}
.footer  p {
    margin:0;
    padding:0;
}

.gallery-container .gallery {
    display:block;
    margin:0;
    padding:0;
}
#gallery-selection { 
    
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    min-height:244px;
}
#gallery-selection li {
    margin: 5px;
    padding: 5px;
    font-size: 1.4em; 
    float:left;
    position: relative;
}

#gallery-selection li {

}

#gallery-selection .ui-selected a {
    display:inline-block;
}
#gallery-selection a {
    background: url("../images/plus-with-circle.png") no-repeat scroll 0% 0% transparent;
    display: none;
    height: 30px;
    width: 30px;
    position: absolute ! important;
    right: -8px;
    top: -9px;
    z-index: 10;
}

#gallery-selection .ui-selected { 
    background: #cfe2ed; 
}

#gallery-selection .ui-selected img {
    opacity:1;
}

#gallery-selection img:hover {    
    opacity:1;
}


#gallery-selection img {
    border:thin solid #DDD;
    opacity:0.7;
}

.footer .section a ,
.footer .section p {
    background-color: #FFFFFF;
    border: 1px solid #999;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;    
    text-decoration:none;
}
.footer .section a:hover {
   background-color: #DDD;
   color:#333;
}

#imageSelector #thumbs {
    padding-left: 9px;
    background:whitesmoke;
}

#imageSelector #thumbs .ui-widget-content {
    border:0;   
}
