

.edit-gallery-items ul {
    list-style: none;
}

.edit-gallery-items li {
    padding: 5px;
    min-height: 120px;    // fixme
}

.edit-gallery-items img {
    float: left;
    height: 110px;
    width: 110px;
    margin-right: 5px;
}

.edit-gallery-items .caption {
    padding-left: 5px;
}

.edit-gallery-items .image-title {
    font-weight: bold;
    font-size: x-large;
}