.group-toolbar {
    margin-top: 30px;
    margin-bottom: 10px;
}

.users td:nth-child(3) {
    text-align: center;
}

.new-user-form {
    margin-top: 30px;
}

.group-select {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C0C0C0;
}