<?xml version="1.0" encoding="UTF-8"?>
<div id="right">
    <div class="r-top">
        <div class="r-bot">
            <div class="app:login">
                <form class="login" action="?" method="POST">
                    <div>
                        <input type="text" name="user" placeholder="User" required="required"/>
                    </div>
                    <div>
                        <input type="password" name="password"/>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <div class="sidepanel">
                    <h2>Actions</h2>
                    <ul class="menu">
                        <li>
                            <a href="?action=addentry">New Article</a>
                        </li>
                        <li>
                            <a href="?logout=logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="r-top">
        <div class="r-bot">
            <div class="app:entry?feed=help&amp;entry=MarkupHelp">
                <h3 class="app:title entrytitle"/>
                <div class="app:content content"/>
            </div>
        </div>
    </div>
</div>