<?xml version="1.0" encoding="UTF-8"?>
<div id="right">
    <div id="r-top">
        <div id="r-bot">
            <div class="app:login">
                <form class="login" action="" method="POST">
                    <div>
                        <label for="user">User</label>
                        <input type="text" name="user"/>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password"/>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <div>
                    <h2>Edit Menu</h2>
                    <ul>
                        <li>New Article</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>