<?xml version="1.0" encoding="UTF-8"?>
<div>
    <table class="permissions acl:show-permissions">
        <tr>
            <td colspan="3" class="perm-private">
                <input id="perm-private" type="checkbox" name="perm-private" title="Uncheck for more access control options"/> Private
            </td>
        </tr>
        <tr class="perm-detail">
            <td>Everyone:</td>
            <td>
                <input type="checkbox" name="perm-public-read"/> read</td>
            <td/>
        </tr>
        <tr class="perm-detail">
            <td>Registered users:</td>
            <td>
                <input type="checkbox" name="perm-reg-read"/> read</td>
            <td>
                <input type="checkbox" name="perm-reg-write"/> write</td>
        </tr>
    </table>
</div>